BasedOnStyle: Microsoft
ColumnLimit: 120
IndentWidth: 4
UseTab: Never
PointerAlignment: Left
ReferenceAlignment: Left
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
AccessModifierOffset: -4
NamespaceIndentation: None
